   <h2>后台管理界面</h2>
<div class="top-wrap">
  <a href="/admin/">管理首页</a>
  <a href="/admin/banner">banner设置</a>
  <a href="/admin/bgpic">背景图片设置</a>
  <a href="/admin/music">背景音乐设置</a>
  <a href="/admin/study">学习数据管理</a>
  <a href="/admin/sport">运动数据管理</a>
  <a href="/admin/monthlyplan">每月运动数据管理</a>
  <a href="/admin/mydiary">我的日记书籍管理</a>
  <a href="/admin/web">用户管理管理</a>
</div>
